//天气
::v-deep #he-plugin-simple {
  #weather-view-he {
    height: 309px !important;
  }
}
::v-deep .s-sticker-tmp.module {
  position: absolute !important;
  font-size: 12px !important;
  top: -6px;
  left: 24px;
  transform: scale(.82);
  padding: 1px 5px;
  background: #f1404b;
  color: #ffffff !important;
  border-radius: 50px;
  padding: 1px 5px !important;
}

.page-container {
  .page-sidebar {
    transition: all .5s cubic-bezier(.645, .045, .355, 1), stroke .2s ease;
    display: flex;
    flex-direction: column;
    width: 220px;
    position: sticky;
    top: 0;
    height: 100vh;
    z-index: 500;
    .sidebar-logo {
      width: 100%;
      height: 74px;
      overflow: hidden;
      border-bottom: 1px solid rgba(129, 129, 129, 0.15);

      .logo-expanded {
        img {
          width: 50px;
          margin: 0 auto;
        }
      }

      .logo-collapsed {
        img {
          //max-height: 40px;
        }
      }
    }
    *::-webkit-scrollbar{
      background: none!important;
      width: 0;
    }
    .menu-top {
      flex: 1 26 auto;
      overflow-y: auto;
      overflow-x: hidden;

      .menu-app {
        &:hover {
          background: rgba(136, 136, 136, .1);
          opacity: 1;
          transition: .3s;
        }
        .app-icon-left {
          text-align: left;
          height: 50px;
          display: flex;
          flex: 1 1 auto;
          svg,.icon-yingyong, .icon-category {
            margin-left: 14px;
            font-size: 28px;
            width: 28px;
            display: inline-block;
            height: 100%;
            vertical-align: middle;
          }

          .app {
            // opacity: 0;
            display: flex;
            transition: all .5s cubic-bezier(.645, .045, .355, 1), stroke .2s ease;
            span {
              vertical-align: middle;
              white-space: nowrap;
              font-size: 14px;
              margin-left: 5px;
            }

            i {
              vertical-align: middle;
              position: relative;
              display: inline-flex;
              font-size: 12px;
              margin-left: 15px;
              transform:rotate(0deg);
              transition: transform 0.5s cubic-bezier(.645, .045, .355, 1), stroke .2s ease;
              height: 100%;
              align-items: center;
              &:hover{
                sub {
                  position: absolute;
                  background: rgba(136, 136, 136, .1);
                  width: 35px;
                  height: 35px;
                  border-radius: 40px;
                  opacity: 1;
                  transition: .3s;
                  left: -11px;
                  top: 7px;
                }
                transform:rotate(90deg);
              }
            }
          }

          .applyStoreIcon {
            transform: rotate(90deg) !important;
            transition: transform 0.5s cubic-bezier(.645, .045, .355, 1), stroke .2s ease;
          }
        }

        .app-sidebar {
          width: 100%;

          .app-sidebar-item {
            height: 33px;
            line-height: 33px;
            width: 100%;

            a {
              font-size: 14px;
              display: inline-block;
              width: 100%;
            }
          }
        }
      }
    }

    .menu-bottom {
      overflow: hidden;

      .menu-app {
        margin: 5px 0px;

        .app-icon-left {
          height: 40px;
          align-items: center;

          .app {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: space-between;
            align-items: center;
            // opacity: 0;
            transition: all .5s cubic-bezier(.645, .045, .355, 1), stroke .2s ease;

            span {
              vertical-align: middle;
              display: inline-block;
              white-space: nowrap;
              font-size: 14px;
            }

            i {
              vertical-align: middle;
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .widthOnOff {
    width: 60px;
  }

  .widthOnOffcon {
    width: calc(100% - 220px) !important;
    //transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), stroke 0.2s ease;
  }

  .page-content {
    width: calc(100% - 60px);
    box-sizing: border-box;
    transition: width 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), stroke 0.2s ease;
    header {
      position: sticky;
      top: 0;
      height: $headerHeight;
      z-index: 500;
      transition: height 0.5s ease-in-out,transform 0.5s ease-in-out;

    }
    .left-nav {
      box-sizing: border-box;
      transition: all 0.5s;
      .left-nav-item {
        display: inline-block;
        padding: 10px 15px;
      }

      svg {
        vertical-align: middle;
        width: 30px;
        height: 30px;
      }

      .cloud {
        padding: 0;
      }
    }
    .is-scroll{
      //height: 0px;
      transform: translateY(-76px);
    }
    .header-left {
      height: 100%;
      display: flex;
      align-items: center;
      transition: height 0.5s ease-in-out;
      .left-nav-icon {
        width: $headerHeight;
        height: 76px;
        margin: auto;
        display: flex;

        path {
          fill: none;
          stroke: #888;
          stroke-width: 4;
          stroke-linecap: round;
          stroke-linejoin: round;
          --length: 33;
          --offset: -30;
          stroke-dasharray: var(--length) var(--total-length);
          stroke-dashoffset: var(--offset);
          transition: all .8s cubic-bezier(.645, .045, .355, 1);
          transition: all .5s cubic-bezier(.645, .045, .355, 1), stroke .2s ease;
        }

        .line--1, .line--3, .line--2 {
          --total-length: 100;
        }

        .modileSVG {
          display: block;
          height: 100%;
          width: 100%;
        }

        .modileIMG {
          display: none;
          margin: auto;
        }
      }

      .sidebarOn {
        .line--1, .line--3, .line--2 {
          --total-length: 85;
        }

        .line--1, .line--3 {
          --length: 24;
        }
      }

    }
    .header-right {
      // height: $headerHeight;
      // width: 50px;
      margin-right: 0.2rem;

      .search-icon{
        height: 100%;
        width: 100%;
        margin-right: 10px;

      }

      .mobileSidebar {
        display: none;
      }
    }
    //搜索框
    .search{
      position: relative;
      flex: 1 1 auto;
      padding: 0.2rem;
      margin: auto;
      border-radius: 5px;
      width: 800px;
      .search-continer{
        width: auto;
        margin: auto 0.1rem;
        .search-input{
          font-size: 24px;
          margin: 0.2rem 0px;
          text-align: left;
          position: relative;
          .search-input-select{
            display: flex;
            position: relative;
            text-align: left;

            ul{
              padding-left: 5px;
              display: initial;
              li{
                list-style: none;
                display: inline-block;
                padding: 0 11px;
                font-size: 14px;
                line-height: 31px;
                border-radius: 3px 3px 0 0;
                cursor: pointer;
                font-weight: 400;
              }
            }
            .ivu-tooltip{
              width: unset;
              margin: unset;
              p{
                display: flex;
                align-items: center;
                word-break: keep-all;
                padding-left: 0.1rem;
                line-height: 31px;
                cursor: pointer;
                i{
                  font-size: 12px;
                  margin: 0 0 0 10px;
                }
              }
              .ivu-tooltip-inner{
                padding: 0.02rem;
                .tooltip-content{
                  width: 100%;
                  margin: auto;
                  text-align: center;
                  span{
                    display: inline-flex;
                    margin: 0.05rem 0.05rem 0 0.05rem ;
                    cursor: pointer;
                  }

                }
              }
            }
          }
          .search-components{
            margin-top: 0;
          }
        }
        .search-hot{
          padding-left: 0.01rem;
          margin-bottom: 0.1rem;
          text-align: left;
          font-weight: 500;
          line-height: 1.2;
          i{
            color:#f1404b;
            font-size: 22px;
            margin-right: 0.01rem;
            vertical-align: bottom;
          }
          span{
            font-size: 16px;
            line-height: 1.2;
          }
          .hot{

          }
        }
        .search-menu{
          margin-bottom: 0.2rem;
          width: 100%;
          display: flex;
          flex-wrap: wrap; // 强制换行
          justify-content: flex-start; //所有元素右对齐
          p{
            display: inline-block;
            margin: 4px;
            padding: 0.08rem;
            border-radius: 50px;
          }
        }
        .search-icon{
          position:absolute;
          bottom: -40px;
          width: 100%;
          text-align: center;
          left: -14px;
        }
      }

    }
  }

  //.iconDown-enter-active {
  //  transition: all .2s ease;
  //}

  .iconDown-leave-active {
    transition: transform .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }

  .iconDown-enter, .iconDown-leave-to {
    transform: translateY(50px);
    opacity: 0;
  }
  .menuText-enter-active {
    transition: all .5s cubic-bezier(.645, .045, .355, 1), stroke .2s ease;
  }

  .menuText-leave-active {
    transition: all .5s cubic-bezier(.645, .045, .355, 1), stroke .2s ease;
  }

  .menuText-enter, .menuApp-leave-to
    /* .slide-fade-leave-active for below version 2.1.8 */
  {
    opacity: 0;

  }

}
.hideSidebar{
  .page-sidebar{
    width: 0px;
  }
  .page-content{
    width: 100%;
  }
}
.hideHeader{
  $hedaer:-$headerHeight;
  transform: translateY($hedaer);
  height: 0px!important;
  transition: height 0.5s;
}
