
//背景颜色
$background-light:#f7f7f7;
$background-dark:#202223;
$background-apply-deep-light:#eceff3;
$background-apply-deep-dark:rgba(0 ,4 ,10 , 50%);


$headerBackground-light:#ffffffb3;
$headerBackground-dark:#222425b3;
$applyBck-light:#ffffff;
$applyBck-dark:#2c2e2f;
$backgroundMenu-light:#e2e2e2;
$backgroundMenu-dark:#0e0f0f;

//image的
$i-f-a-light:#475669;
$i-f-a-dark:#8492a6;
$i-f-b-light:#738192;
$i-f-b-dark:#738192;
$i-f-c-light:#99a9bf;
$i-f-c-dark:#5d6b7d;

$i-b-a-light:#fff;
$i-b-a-dark:#34425a;

$i-b-b-light:0;
$i-b-b-dark:#28374a;
$i-b-c-light:#e0e4ec;
$i-b-c-dark:#243040;

//线条颜色
$main-line-drak:#595959;
$main-line-light:#eee;

//字体颜色
$fontColor-light:#282a2d;
$fontColor-dark:#c6c9cf;
$fontSizeColor-light:#000;
$fontSizeColor-dark:#fff;
$fontColorOrange:#ff4b00;
$fontColorDetailed:#6c757d;


//图标颜色
$iconfont-light:#eeeeee;
$iconfont-dark:#363738;

//hover
$hover-light:#f1404b;
$hover-dark:#ffffff;

//字体大小
$fontSize10:0.1rem;
$fontSize12:0.12rem;
$fontSize14:14px;
$fontSize16:0.16rem;
$fontSize18:0.18rem;
$fontSize20:0.20rem;
$fontSize26:0.26rem;
$fontSize28:0.28rem;

//padding间距
$margin05:0.05rem;
$margin10:0.1rem;
$margin15:0.15rem;
$margin20:0.2rem;
$marginRt05:0.05rem;
$marginRt10:0.1rem;
$marginRt15:0.15rem;
$marginRt20:0.2rem;
$marginRt24:0.24rem;
$marginTp30:0.30rem;
$marginRt330:3.3rem;
$marginRt48:0.48rem;


$padding05:0.05rem;
$padding10:0.1rem;
$padding15:0.15rem;
$padding20:0.2rem;
$paddingLt05:0.05rem;
$paddingLt10:0.1rem;
$paddingLt14:0.14rem;
$paddingLt15:0.15rem;
$paddingLt52:0.52rem;
$paddingLt48:0.48rem;


//header高度
$headerHeight:76px;
//leftnav 宽度
$navWidth:60px;




