@import "./_themes.scss";
$E: null;
$B: null;
$theme-map: null;

@mixin themeify {
  @each $theme-name, $theme-map in $themes {
    $theme-map: $theme-map !global;
    [data-theme="#{$theme-name}"] & {
      @content;
    }
  }

}


@function themed($key) {
  @return map-get($theme-map, $key);
}


@mixin background_color($color) {
  @include themeify {
    background-color: themed($color) !important;
  }
}

@mixin background_color_Nomust($color) {
  @include themeify {
    background-color: themed($color);
  }
}

@mixin backgroundMenu_color($color) {
  @include themeify {
    background-color: themed($color) !important;
  }
}

@mixin font_color($color) {
  @include themeify {
    color: themed($color) !important;
  }
}

@mixin border_color($color) {
  @include themeify {
    border-right: themed($color) !important;
  }
}

@mixin footerIconBk($color) {
  @include themeify {
    background-color: themed($color) !important;
  }
}

@mixin hover($color) {
  @include themeify {
    color: themed($color) !important;
  }
}

@mixin applyBck($color) {
  @include themeify {
    background-color: themed($color) !important;
  }
}

@mixin imgInIcon($color) {
  @include themeify {
    color: themed($color) !important;
  }
}

@mixin main-line-color($color) {
  @include themeify {
    background-color: themed($color) !important;
  }
}

@mixin boxShadow($color) {
  @include themeify {
    box-shadow: 0 0 20px -5px themed($color) !important;
  }
}

@mixin border-color($color) {
  @include themeify {
    border-color: themed($color)!important;
  }
}



@media screen and (max-width: 750px) {
  .page-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
  }
  .page-content {
    width: 100% !important;
  }
  .widthOnOff {
    width: 0px !important;
    height: 0px;
  }
  .left-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    width: 100%;
    text-align: left;
    top: $headerHeight;
    display: none;
    @include background_color('headerbackground');

    a {
      height: .86rem;
      line-height: .86rem - .5rem;
    }
  }
  .footer-tools {
    bottom: 15px !important;
    right: 10px !important;
  }
  .mobileSidebar {
    display: block !important;
  }
  .modileSVG {
    display: none !important;
  }
  .modileIMG {
    display: block !important;
  }
  .menu-item {
    &:nth-child(2n) {
      margin-right: 0 !important;
    }
  }
  .gradeCoin-container .gradeCoin-content .gradeCoin-menu .gradeCoin-item {
    margin: 0 !important;
  }
  .comments-record .comments-childer {
    padding: .2rem 0 .2rem 0 !important;
  }
  .guestbook-main-left {
    .guestbook-left-wraper {
      margin: 0 0.5rem 0.2rem 0.5rem !important;
    }
  }
  .article-header-centre {
    .site-wraper {
      margin-left: 0.5rem !important;
      margin-right: 0.5rem !important;

    }
  }
  .article-header-right {
    .grade-wraper {
      margin-left: 0.5rem !important;
      margin-right: 0.5rem !important;
    }
  }
  .card-body{
    margin: 5px 0!important;
  }

}

@media screen and (min-width: 992px) {
  .article {
    margin: 0.2rem 0;
  }
  .guestbook {
    padding-left: 0.1rem;
    padding-right: 0.1rem;

    .guestbook-main-left {
      position: sticky;
      top: 0px;
    }
  }
  .text-option .option .email {
    width: 80%;
  }
  .content-customize-menu {
    .menu-button {
      .newly-item {

      }

      .newly-edit {
        width: 113px;
      }
    }
  }
  .guestbook-layout {
    .mains-menu {
      .guestbook-respond {
        .option {
        }
      }
    }
  }

}

@media screen and (max-width: 992px) {
  .articless-container .articles-content .articles-carousel .collapse {
    margin-top: 15px;
  }
  .gradeCoin-menu {


  }
  .rank-container .search-continer{
    width: 80%!important;
  }
  .search-modal{
    width: 800px!important;
  }
}



@media screen and (min-width: 576px) {

  .guestbook-left-item {
    width: 50%;
  }
  .hotComic .hotComic-item .infoBlock-name {
    opacity: 0 !important;
  }
}

@media screen and (min-width: 768px) {

  .article {

  }
  .text-option .option {

    padding: 0.05rem 0.05rem 0.05rem 0;
    .email {
      width: 100%;
    }
  }

}

@media screen and (max-width: 769px) {
  .text-option .option {
    margin-top: 5px;
  }
  .cartoon-container{
    .comic-intro{
      .intro-header{
        flex-wrap: wrap;
        .graded{
          width: 100%;
          justify-content: flex-end;
        }
      }
    }
    .acgn-row{
      .header-right{
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  .search-modal{
    width: 500px!important;
  }
}

@media screen and (max-width: 576px) {

  .logo-wraper {
    text-align: center;
    margin: auto;
  }
  .hotComic .hotComic-item {
    .infoBlock-name {
      opacity: 0;
    }

    .main-itemHover .infoBlockWrap:hover {
      .wrapBg {
        left: 0px !important;
      }

      .bg, .infoWrap {
        left: 50% !important;
        transform: translateX(-50%);
        width: 3.3rem !important;
      }
    }
  }

  .one-right, .two-left {
    .image-wrap-hover {
      padding-top: 2.23rem !important;
    }
  }

  .cartoon-container{
    .comic-intro{
      .intro-header{
        flex-wrap: wrap;
        .graded{
          width: 100%;
          justify-content: flex-end;
        }
      }
    }
  }
  .search-modal{
    width: 300px!important;
  }
}

@media screen and (min-width: 1200px) {

  .article {
    max-width: 1200px;
    margin: auto;
  }
  .guestbook {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
  .articless-container {
    .ivu-rate-star-full, .ivu-rate-star-zero {
      margin-right: 0 !important;
    }

    .ivu-rate-star, .ivu-rate-star-full {
      margin-right: 0 !important;
    }
  }
}

@media screen and (min-width: 1600px) {
  .article {
    max-width: 1300px;
    margin: auto;
  }
  .carousel-article{
    .comic-intro{
      max-width: unset;
    }
  }
}

@media screen and (max-width: 1554px) {
  .station-maste-rankList {
    display: none;
    transition: all 0.5s;
  }
  .station-master-left {
    width: 100%;
  }
  .carousel-article{
    .comic-aside{
      display: none;
    }
    .comic-intro{
      max-width: 800px;
    }
  }
}

@media screen and (max-width: 1450px) {
  .images-main-oneself {
    display: none;
  }
  .app-container .app-layout .app-oneself {
    transform: translateX(500px) !important;
  }
}

@media screen and (min-width: 1040px) {
  .images-main-waterfall {
    min-width: 1040px;
  }
}

@media screen and (min-width: 780px) and (max-width: 1040px) {
  .images-main-waterfall {
    min-width: 778px;
  }
}

@media screen and (min-width: 520px) and (max-width: 780px) {
  .images-main-waterfall {
    min-width: 518px;
  }
}

@media screen and (min-width: 260px) and (max-width: 520px) {
  .images-main-waterfall {
    min-width: 258px;
  }
}





