@import "./_themes.scss";
$E: null;
$B: null;
$theme-map: null;

@mixin themeify {
  @each $theme-name, $theme-map in $themes {
    $theme-map: $theme-map !global;
    [data-theme="#{$theme-name}"] & {
      @content;
    }
  }
}


@function themed($key) {
  @return map-get($theme-map, $key);
}


@mixin background_color($color) {
  @include themeify {
    background-color: themed($color) !important;
  }
}

@mixin background_color_Nomust($color) {
  @include themeify {
    background-color: themed($color);
  }
}

@mixin backgroundMenu_color($color) {
  @include themeify {
    background-color: themed($color) !important;
  }
}

@mixin font_color($color) {
  @include themeify {
    color: themed($color) !important;
  }
}

@mixin border_color($color) {
  @include themeify {
    border-right: themed($color) !important;
  }
}

@mixin footerIconBk($color) {
  @include themeify {
    background-color: themed($color) !important;
  }
}

@mixin hover($color) {
  @include themeify {
    color: themed($color) !important;
  }
}

@mixin applyBck($color) {
  @include themeify {
    background-color: themed($color) !important;
  }
}

@mixin imgInIcon($color) {
  @include themeify {
    color: themed($color) !important;
  }
}

@mixin main-line-color($color) {
  @include themeify {
    background-color: themed($color) !important;
  }
}

@mixin boxShadow($color) {
  @include themeify {
    box-shadow: 0 0 20px -5px themed($color) !important;
  }
}

@mixin border-color($color) {
  @include themeify {
    border-color: themed($color)!important;
  }
}






