// animation
//动画旋转
@keyframes headerTagI {
  0%{
    transform: scaleX(0);
  }
  50%{
    transform: scaleX(-1);;
  }
  100%{
    transform: scaleX(0);
  }
}

//旋转 刷新
@keyframes quan{
  0%{-webkit-transform:rotate(1turn);}
  25%{-webkit-transform:rotate(270deg);}
  50%{-webkit-transform:rotate(180deg);}
  75%{-webkit-transform:rotate(90deg);}
  100%{-webkit-transform:rotate(0deg);}
}

// app 个人中心点出前后滚动动画
@keyframes leftIconRo {
  0%{
    transform:translateX(0px)  rotate(180deg);
  }
  50%{
    transform:translateX(-15px)  rotate(180deg);
  }
  100%{
    transform:translateX(0px)  rotate(180deg);
  }
}

// 图片动画 image
@keyframes sidebarFadeIn {
  0%{
    opacity: 0;
    margin-top: 40px;
  }
  100%{
    opacity: 1;
  }
}

// 上下跳动
@keyframes rock {
  0% {
    transform: rotate(-30deg)
  }
  10% {
    transform: rotate(-15deg)
  }
  20% {
    transform: rotate(-30deg)
  }
  30% {
    transform: rotate(-45deg)
  }
  35% {
    transform: rotate(-15deg)
  }
  40% {
    transform: rotate(-45deg)
  }
  45% {
    transform: rotate(-15deg)
  }
  50% {
    transform: rotate(-30deg)
  }
  100% {
    transform: rotate(-30deg)
  }
}



@keyframes changeColor {
  10% {
    color: #ff0000;
  }
  20% {
    color: #ff7700;
  }
  30% {
    color: #ffaa00;
  }
  40% {
    color: #eeff00;
  }
  50% {
    color: #80ff00;
  }
  60% {
    color: #00ff55;
  }
  70% {
    color: #00f7ff;
  }
  80% {
    color: #00a6ff;
  }
  90% {
    color: #9d00ff;
  }
  100% {
    color: #ff0000;
  }
}

@keyframes changeColorBG {

  10% {
    box-shadow: 0 0 4px #ff0000;
  }
  20% {
    box-shadow: 0 0 8px #ff7700;
  }
  30% {
    box-shadow: 0 0 4px #ffaa00;
  }
  40% {
    box-shadow: 0 0 8px #eeff00;
  }
  50% {
    box-shadow: 0 0 4px #80ff00;
  }
  60% {
    box-shadow: 0 0 8px #00ff55;
  }
  70% {
    box-shadow: 0 0 4px #00f7ff;
  }
  80% {
    box-shadow: 0 0 8px #00a6ff;
  }
  90% {
    box-shadow: 0 0 4px #9d00ff;
  }
  100% {
    box-shadow: 0 0 8px #ff0000;
  }
}


